<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.hearc.corporations"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="ch.hearc.corporations.Corporations"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Main -->
        <activity
            android:name="ch.hearc.corporations.view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Facebook Login -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/login_facebook_activity_title" >
        </activity>
        <!-- Profile -->
        <activity
            android:name="ch.hearc.corporations.view.ProfileActivity"
            android:label="@string/profile_activity_title" >
        </activity>
        <!-- Leaderboard -->
        <activity
            android:name="ch.hearc.corporations.view.LeaderboardActivity"
            android:label="@string/title_activity_leaderboard"
            android:parentActivityName="ch.hearc.corporations.view.ProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.hearc.corporations.view.ProfileActivity" />
        </activity>
        <!-- Trips -->
        <activity
            android:name="ch.hearc.corporations.view.TripActivity"
            android:label="@string/title_activity_trip" >
        </activity>
        <!-- Trip Detail -->
        <activity
            android:name="ch.hearc.corporations.view.TripDetailActivity"
            android:label="@string/title_activity_trip_detail"
            android:parentActivityName="ch.hearc.corporations.view.TripActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.hearc.corporations.view.TripActivity" />
        </activity>
        <!-- Tracking service -->
        <service
            android:name="ch.hearc.corporations.service.TripService"
            android:enabled="true"
            android:label="TripService" />
        <!-- Boot receiver for tracking service -->
        <receiver
            android:name="ch.hearc.corporations.service.OnBootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="OnBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action." />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBFqfEdcehRMLp2lqexmwt4COetQ5qe45I" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- HomePcKey : AIzaSyCbfg79ZBWqX6dwcFaaB5NkEqWsVoHQvaQ -->
        <!-- WorkPcKey : AIzaSyC_RF5-u0M9ed-kbX_r_58fT3dBGslTohA -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
    </application>

</manifest>